header {
    position: fixed;

    left: 0;
    top: 0;

    padding: 1rem;

    background-color: var(--grey-700);

    height: 4.5rem;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-right: 2rem;

    z-index: 1;
}
main{
    padding: 0 1rem;
}
.logoutBtn{
    background-color: transparent;
    color: var(--whiteFixed);
    font-size: .85rem;
}

